<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_3DPrintColorMixer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <_3DPrintColorMixer.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>de-DE</value>
            </setting>
            <setting name="Extruder1_Color" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Extruder2_Color" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="Extruder3_Color" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="Extruder4_Color" serializeAs="String">
                <value>255, 192, 192</value>
            </setting>
            <setting name="Extruder5_Color" serializeAs="String">
                <value>Olive</value>
            </setting>
            <setting name="Extruder6_Color" serializeAs="String">
                <value>192, 0, 192</value>
            </setting>
            <setting name="Extruder7_Color" serializeAs="String">
                <value>192, 192, 255</value>
            </setting>
            <setting name="Extruder8_Color" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="Extruder9_Color" serializeAs="String">
                <value>255, 128, 0</value>
            </setting>
            <setting name="Extruder10_Color" serializeAs="String">
                <value>192, 255, 192</value>
            </setting>
            <setting name="Extruder11_Color" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="Extruder12_Color" serializeAs="String">
                <value>255, 224, 192</value>
            </setting>
            <setting name="Extruder13_Color" serializeAs="String">
                <value>255, 192, 255</value>
            </setting>
            <setting name="Extruder14_Color" serializeAs="String">
                <value>0, 64, 64</value>
            </setting>
            <setting name="Extruder15_Color" serializeAs="String">
                <value>128, 64, 0</value>
            </setting>
            <setting name="Extruder16_Color" serializeAs="String">
                <value>Aqua</value>
            </setting>
        </_3DPrintColorMixer.Properties.Settings>
    </userSettings>
</configuration>